.sidebar_item {
    text-decoration: none;

    display: flex;
    margin: 20px;

    color: #0a0a0a;

    & svg {
        width: 40px;
        height: 44px;
    }

    & .texto_link {
        margin: 10px;

        font-size: 20px;
    }

    &:hover{
        color: #f0e3e3;
    }
    
}