.sidebar_item {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 15px;
    color: #555042;

    & svg {
        width: 40px;
        height: 35px;
    }

    & .texto_link {
        margin: 0%;

        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
    }
    &:hover{
        color: #000000;
        
    }
     
}

.active {
    color: black;
    font-weight: bold;
}
