.topbar_conteudo {
    background-color: #dbd2dd6b;   
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    margin:0%;
    padding: 10px;
    padding: 42px;
    height: 5%;
    width:100%
    }

.botao_login {
    text-decoration: none;
    color: #020202;
    font-size: 3.5vh;
    display: flex;
    cursor: pointer;
    border: none;
    padding: 8px;
    background-color:#bbafbb;
    margin-right: 0px;
   
}