.sidebar_conteudo {
    background-color: #bbafbb;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.pagina_conteudo {
    margin-left: 20%;
}

.sidebar_header {
    justify-content: center;
    text-align: center;
    padding: none;    

    & .logo {
        width: 100%;
        margin: 0%;
        padding: 0%;    
        display: flex;
      
    }

    & .linha {
        color: rgba(19, 19, 19, 0.4);
    }
}