.pagina_conteudo {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: ebe9df81;
}

.pagina_cabecalho {
  display: flex;
  justify-content: space-between;
}

.logo{
  
    width: 500px;
 }

.fotoEquipe{
    display: flex;
    justify-content: center;
}

.textoHome{
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

h5{
    font-size: 18px;
    color: #111111;
    font-weight: 400;

}

